<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="transactionGroup">
            <h2><span jhiTranslate="creghipApp.transactionGroup.detail.title">Transaction Group</span> {{transactionGroup.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="creghipApp.transactionGroup.name">Name</span></dt>
                <dd>
                    <span>{{transactionGroup.name}}</span>
                </dd>
                <dt><span jhiTranslate="creghipApp.transactionGroup.userAccount">User Account</span></dt>
                <dd>
                    <div *ngIf="transactionGroup.userAccount">
                        <a [routerLink]="['/user-account', transactionGroup.userAccount?.id, 'view']">{{transactionGroup.userAccount?.accountName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/transaction-group', transactionGroup.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
